<component name="libraryTable">
  <library name="springmvc加入json支持">
    <CLASSES>
      <root url="file://E:/software/classes/springmvc加入json支持" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://E:/software/classes/springmvc加入json支持" recursive="false" />
  </library>
</component>