<component name="libraryTable">
  <library name="springmvc和mybatis整合">
    <CLASSES>
      <root url="file://E:/software/classes/springmvc和mybatis整合" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://E:/software/classes/springmvc和mybatis整合" recursive="false" />
  </library>
</component>